::selection {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
	outline: none !important;
}

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	font-size: $base-size + px;
}

body {
	overflow-x: hidden;
	font-family: $sfuidisplayMedium;
	position: relative;
    background-image: url($imgs + 'background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
	font-family: $sfuidisplayBold;
}

h2, h3, h4, h5 {
	margin: 0 0 size(20);
}

h1 {
	font-size: size(30);
	line-height: size(32);
	margin: 0 0 size(25);
	@include maxw($mq-md) {
		font-size: size(28);
		line-height: size(30);
		margin: 0 0 size(20);
	}
}

h2 {
	font-size: size(26);
	line-height: size(28);
	@include maxw($mq-md) {
		font-size: size(22);
		line-height: size(26);
	}
}

h3 {
	font-size: size(22);
	line-height: size(24);
	@include maxw($mq-md) {
		font-size: size(18);
		line-height: size(22);
	}
}

h4 {
	font-size: size(18);
	line-height: size(20);
	@include maxw($mq-md) {
		font-size: size(16);
		line-height: size(20);
	}
}

ul,
ol {
	padding: 0 0 0 size(15);
}

ul li,
ol li,
p {
	font-family: $sfuidisplayMedium;
}

p {
	font-size: size(16);
	line-height: size(24);
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	padding: size(20) size(10);
	quotes: "\201C""\201D""\2018""\2019";
	margin: size(30) 0;
	&:before {
		color: #ccc;
		content: open-quote;
		font-size: size(60);
		line-height: 0.1em;
		margin-right: size(10);
		vertical-align: -0.4em;
	  }
	p {
		display: inline;
		font-family: $sfuidisplayMedium;
		font-size: size(20);
		@include maxw($mq-sm) {
			font-size: size(18);
		}
	}
}
i {
	display: inline-block;
}

button {
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

textarea {
	resize: none;
}

iframe,
video {
	display: block;
	width: 100%;
	border: 0;
}

.cbtiva__whatsapp {
    display: table;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: size(70);
    z-index: 1;
    opacity: 0;
    @include maxw($mq-sm) {
        width: size(60);
    }
}

.pristine-error {
    color: red;
    font-size: size(13);
    margin: size(5) 0 0;
}
