//color
$white: #fff;
$black: #000;
$green: #48A700;
$primaryColor: #FF7D24;
$secondaryColor: #9BC2D2;

//image
$imgs: '../images/';

//size
$base-size: 16;

//fonts
$font-path: '../fonts/';
$sfuidisplayBold: "SFUIDisplay-Bold", sans-serif;
$sfuidisplayMedium: "SFUIDisplay-Medium", sans-serif;
$sfuidisplayLight: "SFUIDisplay-Light", sans-serif;
